
.game {
    padding: 5px;
    background: #eee;
    color: darkblue;
    font-size: 14pt;
}

.controls {
    padding: 5px;
    background: #ddd;
}

.container {
    padding: 5px;
    background: #ddd;
}

.leftcolumn { 
    display:inline-table;
}

.rightcolumn { 
    display: inline-table;
    margin-left: 10px;
}

.clear { 
    clear: both;
}

.scoreboard {
    padding: 5px;
    background: #ddd;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    margin-left: 10px;
    font-size: 12pt;
}

input[type="number"] {
    width: 50px;
    font-size: 12pt;
}

button {
    background: white;
    color: darkblue;
    border: 1px solid darkblue;
    margin: 2px;
    padding: 10px;
    font-size: 12pt;
}

button:hover {
    background: darkblue;
    color: white;
}
