.wall, .passage, .route, .square {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: -1px;
    margin-left: -1px;
}

.wall {
    background: #666;
    border: 0px solid #666;
}

.passage {
    background: white;
    border: 0px solid white;
}

.square {
    background: red;
    border: 0px solid red;
}
